
 #show-character {
  display: none;
}

table {
  border-collapse: collapse;
  width: 300px;
}

td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

button {
  width: 100%;
  height: 100%;
  font-size: 16px;
  cursor: pointer;
}

.clicked {
  background-color: yellow;
}